<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Orbit&display=swap');

* {
    font-family: "Orbit", sans-serif;
=======
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=IBM+Plex+Sans+KR&family=Orbit&display=swap');

* {
    font-family: "IBM Plex Sans KR", sans-serif;
>>>>>>> 30f3b50e1db6fd29f9eda4c1fb9dec99d9377455
}
h2 {
    background-color: rgb(166, 166, 251);
    padding: 5px;
}
img {
<<<<<<< HEAD
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 150px;
    margin-top: 20px;
}
h1 {
=======
    position: relative;
    right: 210px;
    top: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 240px;
    margin-top: 30px;
}
h1 {
    text-align: left;
>>>>>>> 30f3b50e1db6fd29f9eda4c1fb9dec99d9377455
    font-size: 30px;
    font-weight: bold;
}
h2 {
<<<<<<< HEAD
    font-size: 20px;
=======
    color: white;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0);
>>>>>>> 30f3b50e1db6fd29f9eda4c1fb9dec99d9377455
    margin-top: 40px;
    background-color: rgb(166, 166, 251);
    padding: 5px 0px 5px 5px;
}
<<<<<<< HEAD
input {
    border: 1px solid #ccc;
=======
h5
{
    text-align: left;
}
input {
    border: 1px solid #ccc;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
>>>>>>> 30f3b50e1db6fd29f9eda4c1fb9dec99d9377455
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}
a {
    text-decoration-line: none;
<<<<<<< HEAD
    color: white;
=======
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
    color:  rgb(209, 209, 250);
>>>>>>> 30f3b50e1db6fd29f9eda4c1fb9dec99d9377455
    background-color: black;
    padding: 12px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 12px;
}
a:hover {
    background-color: rgb(166, 166, 251);
    color: black;
}
.profilebox {
    text-align: center;
}
#mainbox {
    width: 650px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
}